.recipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 40px;
  overflow: hidden;
  background: #eeeaea;
  .recipe {
    min-height: 450px;
    min-width: 330px;
    border-radius: 14px;
    position: relative;
    display: flex;
    @media (max-width: "800px") {
      flex-direction: column;
      min-height: 450px;
    }
    justify-content: space-between;
    .recipe-hero {
      position: relative;
      width: 330px;
      height: 450px;
      @media (max-width: "800px") {
        &:after {
          transition: 0.2s ease-in-out;
          content: "\21C4";
          position: absolute;
          white-space: pre;
          right: 50%;
          transform: translateX(50%);
          top: 20px;
          font-size: 3rem;
          line-height: 1rem;
          font-weight: 900;
          color: white;
          text-shadow: none;
          z-index: 1;
          transform-origin: center;
          transform: rotate(90deg) translateX(50%) translateY(-150%);
        }
      }
      @media screen and (min-width: "800px") {
        &:hover {
          &:after {
            transition: 0.2s ease-in-out;
            content: "\21C4";
            position: absolute;
            white-space: pre;
            right: 50%;
            transform: translateX(50%);
            top: 20px;
            font-size: 3rem;
            line-height: 1rem;
            font-weight: 900;
            color: white;
            text-shadow: none;
            z-index: 1;
          }
        }
      }

      h2 {
        font-family: "Playfair Display", serif;
        text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
        position: absolute;
        font-size: 2rem;
        line-height: 2.5rem;
        color: white;
        padding: 0.75rem;
        top: 50%;
        width: 100%;
        z-index: 2;
      }
      .recipe-image-wrapper {
        position: absolute;
        overflow: hidden;
        width: 330px;
        height: 450px;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 450px;
        width: auto;
        transition: 0.3s ease;
        filter: brightness(85%);
        z-index: 1;
      }
    }
    .recipe-details {
      position: relative;
      color: white;
      background: #343038;
      width: 0;
      height: 450px;
      border-radius: 14px;
      opacity: 0;
      @media (max-width: "800px") {
        transform: translateY(-24px);
        width: 330px;
        height: 0;
      }
      .details-inner {
        height: 90%;
        padding: 30px;
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        z-index: 3;
        overflow: hidden;
        @media (max-width: "800px") {
          margin-top: 24px;
        }
        .recipe-ingredients {
          &:nth-child(2) {
            text-align: start;
          }
        }
      }
      @media (min-width: "800px") {
        &:before {
          content: "";
          display: block;
          position: absolute;
          left: -30px;
          height: 100%;
          width: 44px;
          background: rgb(52, 48, 56);
          z-index: 0;
        }
      }
    }
    &:hover .recipe-image-wrapper img {
      cursor: pointer;
      transition: 0.3s ease;
      transform: scale(1.05);
    }
  }
}
